.page {
  --background: var(--bg-page);
  --foreground: transparent;

  --text-primary: var(--fg-neutral);
  --text-secondary: var(--fg-subtle);

  --button-primary-hover: var(--color-primary-700);
  --button-secondary-hover: var(--bg-strong);
  --button-secondary-border: var(--border-subtle);

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-inter), sans-serif;
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  padding: 60px;
  gap: 48px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.intro h1 {
  max-width: 600px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-wrap: balance;
  color: var(--text-primary);
  margin: 0;
}

.intro p {
  max-width: 500px;
  font-size: 20px;
  line-height: 1.6;
  text-wrap: balance;
  color: var(--text-secondary);
  margin: 0;
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: var(--bg-page);
    --foreground: transparent;

    --text-primary: var(--fg-neutral);
    --text-secondary: var(--fg-subtle);

    --button-primary-hover: var(--color-primary-700);
    --button-secondary-hover: var(--bg-strong);
    --button-secondary-border: var(--border-subtle);
  }
}