.container {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
}

.tabsContainer {
    position: sticky;
    top: 64px;
    z-index: 10;
    background-color: var(--bg-page);
    padding: var(--space-4) 0;
    margin: calc(-1 * var(--space-4)) calc(-1 * var(--space-8));
    padding-left: var(--space-8);
    padding-right: var(--space-8);
}

.filterContainer {
    margin-bottom: var(--space-2);
}

/* Mobile responsive */
@media (max-width: 768px) {
    .tabsContainer {
        margin-left: calc(-1 * var(--space-4));
        margin-right: calc(-1 * var(--space-4));
        padding-left: var(--space-4);
        padding-right: var(--space-4);
    }
}
