.container {
    display: flex;
    flex-direction: column;
}

.tabsContainer {
    position: sticky;
    top: 64px;
    z-index: 10;
    background-color: var(--bg-canvas);
}

.filterContainer {
    margin-bottom: var(--space-2);
    padding: var(--space-8) var(--space-8) var(--space-3) var(--space-8);
}

.tableContainer {
    padding: 0 var(--space-8) var(--space-12);
}

/* Mobile responsive */
@media (max-width: 768px) {
    .tabsContainer {
        margin-left: calc(-1 * var(--space-4));
        margin-right: calc(-1 * var(--space-4));
        padding-left: var(--space-4);
        padding-right: var(--space-4);
    }
}